body {
  background-color: #f6f6f6;
  border-top: 2rem solid black;
  border-bottom: 2rem solid black;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e6e6e6;
}

li * {
  padding: 0.75rem;
}

h2 {
  margin: 0;
  font-size: 1.25rem;
}

span {
  min-width: 1.25rem;
  text-align: center;
  color: gray;
}

span:hover {
  cursor: pointer;
  text-shadow: 2px 2px 2px gray;
}

input {
  color: gray;
}

input:hover {
  cursor: pointer;
}

.wrapper {
  margin: 2rem;
  background-color: #fefefe;
  box-shadow: 0.1rem 0.25rem 0.3rem rgba(0, 0, 0, 0.06);
  transition: all 0.5s ease-in-out;
  overflow-y: auto;
}

#subheading {
  color: gray;
}

#subheading span {
  padding: 0.75rem;
}

#subheading input {
  width: 100%;
  height: 100%;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 1rem;
  border: none;
  font-style: italic;
  color: gray;
}

#subheading input:focus {
  outline: none;
  color: black;
  font-weight: bold;
}

.true {
  text-decoration: line-through;
  color: gray;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
}

.footer li {
  border: none;
}
